
body {
    margin: 0;
}

.header {
    background-color: #000000;
}

h1 {
    color: #32B9CD;
    margin: 0;
}

ul {
    color: rgb(255,255,0);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border: 1px solid pink;
    margin: 0 10%;
}


